<%- include partials/top.ejs %>
<%- include partials/nav.ejs %>

<!-- Begin page content -->
<main role="main" class="container">
  <h1 class="mt-5">Error</h1>

  <h1><%= error.message %></h1>
  <h2><%= error.status %></h2>
  <pre><%= error.stack %></pre>

</main>

<%- include partials/footer.ejs %>
