<%- include partials/top.ejs %>
<%- include partials/nav.ejs %>

<!-- Begin page content -->
<main role="main" class="container">

  <h1 class="mt-5"><%= seo.routeTitle %></h1>
  <div id="errors"></div>

  <form name="login" action="/login-auth">
    <fieldset>
      <label for="<%= LoginAuthSchema.user_email %>">Email</label>
      <input type="text" id="<%= LoginAuthSchema.user_email %>" name="<%= LoginAuthSchema.user_email %>" maxlength="50">
    </fieldset>

    <fieldset>
      <label for="<%= LoginAuthSchema.user_password %>">Password</label>
      <input type="password" id="<%= LoginAuthSchema.user_password %>" name="<%= LoginAuthSchema.user_password %>" maxlength="30">
    </fieldset>

    <a href="/reset-password">Forgot password?</a>
    <p>Add miner check here</p>
    <input type="submit" id="login_submit" value="Login">
  </form>
</main>

<%- include partials/footer.ejs %>
