<%- include partials/top.ejs %>
<%- include partials/nav.ejs %>

<!-- Begin page content -->
<main role="main" class="container">
  <h1 class="mt-5"><%= seo.routeTitle %></h1>
  <div id="success"></div>
  <div id="errors"></div>

  <form name="reset-password" action="/reset-password-auth">
    <fieldset>
      <label for="<%= ResetPasswordAuthSchema.user_email %>">Email</label>
      <input type="text" id="<%= ResetPasswordAuthSchema.user_email %>" name="<%= ResetPasswordAuthSchema.user_email %>" maxlength="50">
    </fieldset>

    <p>Add miner check here</p>
    <input type="submit" id="reset_submit" value="Reset">
  </form>
</main>

<%- include partials/footer.ejs %>
